body{
    background-color: #F7ECDE !important;
}

.titlee{
    font-family: Pacifico;
}

.all{
    margin: 0px 110px;
}

.dashed{
    border: none;
    border-top: 4px dotted rgb(1, 1, 1);
    /* margin: 0px 70px; */
    
}

.sizzzze {
   color: #F7ECDE !important;
   background-color: #D1512D !important;
}

.gradient{
    background: linear-gradient(to right, #1cb552, #8ca30b);
    -webkit-background-clip: text; 
            -webkit-text-fill-color: transparent;
}

.selectt:focus{
    box-shadow: 0 0 13px rgb(231, 151, 3);
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
}